body {
background-color:#fffcff;
color: #282f36
}

.user-info {
  display: flex;
  padding: 40px 40px 20px 40px;
  margin: 0 auto;
  position: relative;
}

.avatar-user {
margin: 0 16px;
}


.label {
  padding-right: 32px;
}

.options {
  position: absolute;
  top: 0;
  right: 0;
}

#profile-info {
  margin: 24px 40px;
}
