<div class="footer sticky-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-links text-center">
    <h3>This page has a selection of <strong>
      <%= Boardgame.all.count%> </strong> games and counting!
    </h3>
  </div>
  <div class="footer-links">
    <%= link_to "Join today!", new_user_session_path, class: "nav-link"%>
  </div>
</div>
